<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Squalrus Brews</title>
    <meta name="description" content="Squalrus Brews - home of beer." />
    <link rel="stylesheet" href="http://garment.squalr.us/dist/outfit/latest.min.css" />
    @Styles.Render("~/bundles/styles")
    @Scripts.Render("~/bundles/scripts")
</head>
<body>
    <header>
        <nav>
            <a href="/">Squalrus Brews</a>
            <ul>
                <li><a href="/beer">Brews</a></li>
            </ul>
        </nav>
    </header>

    <div class="gmt-container">
        @RenderBody()
    </div>

    <footer>
        <div class="gmt-content">
            <p>&copy; @DateTime.Now.Year Chad Schulz</p>
        </div>
    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>
